h6 {
  width: 120px;
  height: 30px;
  background-color: #339af0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
h5,
h6,
p {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin: 80px 0 40px 0;
}

.year {
  display: flex;
}

.color-gray {
  background-color: #495057;
}
